<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<div class = "container" align="center">
			<div class="wrapper">
				<form action="/authentication" method="post" name="Login_Form" class="form-signin">       
				    <h3 class="form-signin-heading">JIRA ISSUE TRACKER</h3>
					  <hr class="colorgraph"><br>
					  <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" style="width:550px;" />
					  <br>
					  <input type="password" class="form-control" name="password" placeholder="Password" required="" style="width:550px;"/>     		  
					  {% if authorized == 0 %}
					  <div align="center">
					  	<h4>Wrong Username or Password!!</h4>
					  </div>
					  {% endif %}
					  <br>					 
					  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit" style="width:150px;">Login</button>  			
				</form>			
			</div>
		</div>
	</body>
</html>